In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
#Assigning Path
path=r'C:\Users\ANGEL\Desktop\Instacart Master Analysis'

In [4]:
path

'C:\\Users\\ANGEL\\Desktop\\Instacart Master Analysis'

In [5]:
#Importing Orders Data from Prepared Data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [6]:
#Importing Products Data from Prepared Data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
#Importing order_products__prior Data from Original Data Data
df_ords_prods_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [9]:
#check output 
df_ords_prods_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
df_ords_prods_prior.shape

(32434489, 4)

In [11]:
#check output of orders dataframe
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [12]:
df_ords.shape

(3421083, 8)

In [13]:
df_ords_1 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked_1.csv'),index_col = False)

In [14]:
df_ords_1.shape

(3214874, 9)

In [15]:
df_ords_1.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,1,1,2398795,1,prior,2,3,7,15.0
1,2,2,473747,1,prior,3,3,12,21.0
2,3,3,2254736,1,prior,4,4,7,29.0
3,4,4,431534,1,prior,5,4,15,28.0
4,5,5,3367565,1,prior,6,2,7,19.0

In [16]:
df_merged_large = df_ords.merge(df_ords_prods_prior, on = 'order_id', indicator = True)

In [17]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [18]:
df_merged_large.shape

(32434489, 12)

In [19]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# TASK 4.6

# Exporting merged file as pickle to prepared data

In [20]:
#exporting as Pickle
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))