In [1]:
import os
import numpy as np
import pandas as pd

# Assigning Path

In [2]:
#Set Path
path=r'C:\Users\ANGEL\Desktop\Instacart Master Analysis'

In [3]:
path

'C:\\Users\\ANGEL\\Desktop\\Instacart Master Analysis'

In [4]:
#Importing Orders_products_combined file
df_ords_prods_combi = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
df_ords_prods_combi.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [6]:
df_ords_prods_combi.shape

(32434489, 12)

In [7]:
#Importing Products Data from Prepared Data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods.shape

(49672, 6)

# Merging Orders_products_combined Data with Products Data

In [10]:
#Removing the merge column from the ords_prods_combi data frame
df_ords_prods_combi = df_ords_prods_combi.drop(columns = ['_merge'])

In [11]:
df_ords_prods_combi.shape

(32434489, 11)

In [15]:
#merging df_ords_prods and df_prods data
df_ords_prods_merged = df_ords_prods_combi.merge(df_prods, on = 'product_id', indicator = True)

In [19]:
df_ords_prods_merged.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [16]:
#Checking result using merge flag
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [18]:
df_ords_prods_merged.shape

(32404859, 17)

In [17]:
#Exporting the dataframe in pickle format because of large size
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))